header {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px;
}

#movie_title{
    margin-top: 0px;
    margin-bottom: 0px;
}

#movie_section {
    flex-direction: column;
    padding: 5px;
    align-items: center;
    width: 90%;
    margin-top: 10px;
}

#movie_info {
    width: 95%;
    padding: 10px;
}

.movie_poster {
    margin-top: 15px;
    width: 200px;
    height: 300px;
}